@model Jobdoon.Models.Entities.Company
@await Component.InvokeAsync("CompanyHeader", new { companyId = Model.Id })
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Company" asp-action="Index" asp-route-companyId="@Model.Id">در یک نگاه</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Company" asp-action="About" asp-route-companyId="@Model.Id">معرفی</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Company" asp-action="Opportunities" asp-route-companyId="@Model.Id">
            فرصت های شغلی
            <span class="badge text-bg-secondary">4</span>
        </a>
    </li>
</ul>