/* _content/Jobdoon/Views/Shared/_EmployerDashboardLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-osc9kzj7vi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-osc9kzj7vi] {
  color: #0077cc;
}

.btn-primary[b-osc9kzj7vi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-osc9kzj7vi], .nav-pills .show > .nav-link[b-osc9kzj7vi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-osc9kzj7vi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-osc9kzj7vi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-osc9kzj7vi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-osc9kzj7vi] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-osc9kzj7vi] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Jobdoon/Views/Shared/_EmployerLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-e0k5qyjt2h] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-e0k5qyjt2h] {
  color: #0077cc;
}

.btn-primary[b-e0k5qyjt2h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-e0k5qyjt2h], .nav-pills .show > .nav-link[b-e0k5qyjt2h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-e0k5qyjt2h] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-e0k5qyjt2h] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-e0k5qyjt2h] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-e0k5qyjt2h] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-e0k5qyjt2h] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Jobdoon/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bobmajzyya] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-bobmajzyya] {
    color: #0077cc;
}

.btn-primary[b-bobmajzyya] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bobmajzyya], .nav-pills .show > .nav-link[b-bobmajzyya] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-bobmajzyya] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-bobmajzyya] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bobmajzyya] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bobmajzyya] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-bobmajzyya] {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 205px;
    line-height: 20px;
}
