html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@font-face {
    font-family: 'IranianSans';
    src: url('../fonts/IRANSans-web.woff') format('truetype'), url('fonts/IRANSans-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 205px;
    font-family: IranianSans;
}

li {
    margin-left: 15px;
}
